html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.container-alert {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box
}